@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); @import url("https://fonts.googleapis.com/css2?family=Anton&display=swap"); @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); 

.container {
    padding: 0px 15px;
    overflow: hidden;
    margin: auto;
    width: 1200px !important;
}

*{
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}



#portfolio {
    overflow: hidden;
}

.portfolioContant {
    text-align: center;
}

.portfolioTitle h1 {
    text-align: center;
    font-size: 55px;
    color: rgb(17, 18, 20);
    font-weight: 700;
    line-height: 1.5;
}
.portfolioTitle h1 span {
    color: rgb(255, 89, 90) !important;
}

.tabsTitle {
    margin: auto;
    max-width: 65%;
}

.myTabs .tabsContent {
    overflow: hidden;
    padding: 0px;
    max-width: 100% !important;
}

.myTabs .tabsTitle {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.myTabs .tabsTitle .tabButton {
    padding: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: Rubik, sans-serif;
    flex: 1 1 0%;
    cursor: pointer;
    margin-bottom: 30px;
    color: rgb(121, 134, 159) !important;
}

.myTabs .tabsTitle .tabButton:hover {
    transition: all 0.3s ease 0s;
    color: rgb(255, 89, 90) !important;
}

.active, .myTabs .tabsTitle .tabButton.active {
    color: rgb(255, 89, 90) !important;
}

.tabContent.active, .tabContent, .tabContent {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.protfolio1, .protfolio2, .protfolio3 {
    width: 350px;
    height: 341px;
    margin: 0px 20px 35px;
    overflow: hidden;
    position: relative;
}

.protfolio1 img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.ImgTxt {
    background: rgb(255, 89, 90);
    padding: 10px 0px;
    position: absolute;
    transform: skew(0deg);
    width: 350px;
    opacity: 0;
    transition: all 0.5s ease 0s;
    border-radius: 0px 0px 10px 10px;
}

.protfolio1:hover .ImgTxt, .protfolio2:hover .ImgTxt, .protfolio3:hover .ImgTxt {
    opacity: 1;
    margin-top: -117px;
}

.ImgTxt h2 {
    font-size: 25px;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 35px;
    margin-top: 10px;
}

.ImgTxt p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.protfolio3 .comingSoon {
    position: absolute;
    top: 49%;
    left: 25%;
    transform: translate(-14%, -85%);
    transition: all 0.5s ease 0s;
}

.protfolio3 .comingSoon h2 {
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    letter-spacing: 1.5px;
}

.protfolio3:hover .comingSoon {
    position: absolute;
    top: 47%;
    left: 25%;
    transition: all 0.5s ease 0s !important;
}

.protfolio3:hover .comingSoon h2 {
    margin-top: -50px;
    transition: all 0.5s ease 0s;
}
.portfolioBtn {
    width: 160px;
    height: 50px;
    font-size: 18px;
    background: none;
    color: rgb(255, 89, 90);
    font-weight: 500;
    border: 2px solid rgb(255, 89, 90);
    font-family: Rubik, sans-serif;
    transition: all 0.3s ease 0s;
    transform: skew(-10deg);
    border-radius: 10px;
}
.portfolioBtn:hover {
    color: rgb(255, 255, 255);
    background: rgb(255, 89, 90);
    transition: all 0.03s ease 0s;
}
